__pycache__
data/stocks/*.csv
data/stocks/BHARTIARTL.csv
data/stocks/BPCL.csv
data/stocks/BRITANNIA.csv
data/stocks/COALINDIA.csv
data/stocks/DRREDDY.csv
data/stocks/EICHERMOT.csv
data/stocks/GAIL.csv
data/stocks/GRASIM.csv
data/stocks/HCLTECH.csv
data/stocks/HDFCBANK.csv
data/stocks/HEROMOTOCO.csv
data/stocks/HINDUNILVR.csv
data/stocks/ICICIBANK.csv
data/stocks/INFY.csv
data/stocks/IOC.csv
data/stocks/ITC.csv
data/stocks/LT.csv
data/stocks/NESTLEIND.csv
data/stocks/NTPC.csv
data/stocks/ONGC.csv
data/stocks/POWERGRID.csv
data/stocks/RELIANCE.csv
data/stocks/SHREECEM.csv
data/stocks/SUNPHARMA.csv
data/stocks/TATASTEEL.csv
data/stocks/TCS.csv
data/stocks/UPL.csv
data/stocks/WIPRO.csv
