{% extends "header.html" %}
{% block content %}
<br><br><br><br>
<div class="container">
    <h2>About</h2>
    <hr>
    <h3>About Webapp</h3>
    <p>This webapp will be useful to keep track of multiple stocks at a time. It will help the
        trader to find opportunities in the stock market. But the trader also needs to have knowledge about various
        things like what various patterns signify and how should they react when they see a pattern on the candlestick
        chart.
    </p>
    <p>This webapp will scan all the stock of companies included in NIFTY50 index which tracks the top 50 companies of
        India which are categorized on the basis of their market capitalization.
    </p>
    <p>
        The technical scanner will scan for the dataset of stocks and then provide the stocks with the selected pattern
        formed in the candlestick chart along with the chart.
    </p>
    <hr>
    <h3>Languages</h3>
    <p>
    <ul>
        <li>Core functionality of the webapp using <u>Python</u></li>
        <li>Design & Interface using:
            <ul>
                <u>
                    <li>HTML</li>
                    <li>CSS [Bootstrap Framework]</li>
                    <li>JavaScript</li>
                </u>
            </ul>
        </li>
    </ul>
    </p>
    <hr>
</div>
{% endblock %}